[submodule "latinocr-lattraining"]
	path = latinocr-lattraining
	url = https://github.com/ryanfb/latinocr-lattraining.git
[submodule "latinocr-lat"]
	path = latinocr-lat
	url = https://github.com/ryanfb/latinocr-lat.git
	branch = langdata
